<div class="contener">
<h1>Stupid Coaching</h1>
<div class="you">
  <div class= "your-question">
    <%= params[:answer] %>
  </div>
  <div>
    -You
    </div>
</div>
<div class="your-coach">
  <div class= "your-coach-answer">
    <%= @answers_coach %>
  </div>
  <div>
    -Your coach
  </div>
</div>
</div>
