<h1> Stupid Coaching</h1>
<form action="/answer">
  <label for="answer" id="label">Ask your coach anything:</label>
  <br>
  <input id="text" type="text" name="answer">
  <input id="button" type="submit" value="Ask!">
</form>
